{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="{% static 'style_index.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Chat App</h1>
        <div class="frame">
            <button id="text-chat-btn">Chat de Texto</button>
            <button id="image-chat-btn">Chat de Imagem</button>
            <button id="voice-chat-btn">Chat de Voz</button>
        </div>
    </div>

    <script src="{% static 'script_index.js' %}"></script>
</body>
</html>
