{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Simples</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container">
    <h1>Chat de texto</h1>
    <div class="chat-area">
      <div class="mensagem-servidor">
        <p>Seja bem-vindo!</p>
      </div>
<!--      <div class="mensagem-usuario">-->
<!--      </div>-->
    </div>
    <form action="#">
      {% csrf_token %}
      <input type="text" id="mensagem" placeholder="Digite sua mensagem...">
      <button type="submit">Enviar</button>
    </form>
  </div>

  <script src="{% static 'script.js' %}"></script>
</body>
</html>
